<div *ngIf = "teacher" class="info-students">
  <h2 style="text-align: center;">{{teacher.nome | uppercase}} - Detalhes</h2>
  <div style="margin-bottom: 2px;"><span>ID: </span>{{teacher.id}}</div>

  <label for="teacher-nome">Nome: </label>
  <input id="teacher-nome" [(ngModel)]="teacher.nome" placeholder="Nome"><br>
  
  <label for="teacher-nome">Graduação: </label>
  <input id="teacher-nome" [(ngModel)]="teacher.graduacao" placeholder="Nome"><br>

  <button type="button" (click)="goBack()" class="button-details">Voltar</button>
</div>



