.container {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
    margin-top: 30px;        
  }
  
  .title {
      margin: 0 auto;
      width: 30em;
      height: 2em;
      padding: 0.5em;
      background-color: #652AAD;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
      box-shadow: 1px 1px 6px #0000001c;
  }
  
  .card-names {
      margin: 0 auto;
      width: 43.3em;
      height: 20em;
      background-color: #922DEB;
      padding: 0.5em;
      box-shadow: 1px 1px 6px #0000001c;
  }
  
  .card-names p {
      margin: 0 auto;
      margin-top: 0.5em;
      margin-bottom: 0.6em;
      width: 12em;
      height: 2em;
      background-color: #a38df3a1;
      padding: 0.5em;
      cursor: pointer;
      font-size: 15px;
      font-weight: 500;
      line-height: 2em;
      text-align: center;
      border-radius: 0.5em;
      box-shadow: 1px 1px 6px #0000001c;
  }

